
.nav-link:hover {
  color:rgba(31, 144, 80, 0.65);
}

.omib-green {
  color: rgb(146,191,177);
}

.omib-yellow {
  background-color: rgb(238, 238, 204);
}

.btn:active {
    box-shadow: none;
    transform: translateY(2px);
}

.btn-primary {
  color: #fff;
  background-color: #499FA4;
  border-color: #3D4A55;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #37787b;
    border-color: #285e8e; /*set the color you want here*/
}

.row { padding: 0.5em;}


input[type="checkbox"] {
  margin-left: 2em;
  width: 20px;
  height: 20px;
  accent-color: #37787b;
}