
.nav-link:hover {
  color:rgba(31, 144, 80, 0.65);
}

.omib-green {
  color: rgb(146,191,177);
}

.omib-yellow {
  background-color: rgb(238, 238, 204);
}

.btn:active {
    box-shadow: none;
    transform: translateY(2px);
}