<header>
  <nav  class="pb-5">
    <%= link_to image_tag("/assets/sc.jpg"), root_path %>
      </a>
      <ul>
        <li>
          <%= link_to(" All Suppliers", root_path) %>
        </li>
        <li>
          <%= link_to(" Screened Suppliers", screened_path) %>
        </li>
      </ul>
  </nav>
</header>